#suggested-recipe-container {
    display: flex;
    flex-direction: column;
    color: #475467;
    line-height: 28px;
    font-size: 1.125rem;
    font-weight: 400;

}

#suggested-recipe-container p {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#claudeDiv ol {
    list-style: decimal;
    margin-left: 20px;
    margin-bottom: 12px;
    text-align: start;

}

#claudeDiv ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 12px;
    text-align: start;
}
